body{
background-color:#f6f8f9 ;
margin: 0px;
}

.background_color{
    background: white;
}
.logo{
    display: inline-block;
    vertical-align: middle;
}
.scritta_logo{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}