body{
background-color:#f6f8f9 ;
margin: 0px;
}

.background_color{
    background: white;
}
.logo{
    display: inline-block;
    vertical-align: middle;
}
.scritta_logo{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
main{
    margin-left: 250px;
}
.box_buttons{
background-color: white;
height: 55px;width: 1400px;
margin-top: 50px;
padding-left: 80px;
border-radius: 10px;

}
.box01{
    display: inline-block;
    margin-top: 8px;
}
.box02{
    display: inline-block;
}
.button01{
    display: inline-block;
    background-color:  #47adf1;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}
.button02{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    width: 90px;
}
.big_box{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 80px;
    width: 1400px;
    height: 615px;
    border-radius: 10px;
}
.spazio{
    margin-top: 10px;
}
.symbol01{
    display: inline-block;
    border: 3px solid;
    border-radius: 50%;
    border-color: green;
    color: green;
}
.symbol02{
    display: inline-block;
    border: 3px solid;
    border-radius: 50%;
    border-color: red;
    color: red;   
}
.button_purple{
    display: inline-block;
    background-color:  #ab21e6;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}
.button_green{
    display: inline-block;
    background-color:  #42e781;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}
.button_orange{
    display: inline-block;
    background-color:  #c97e16;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}
.button_pink{
    display: inline-block;
    background-color:  #d167bf;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}
.button_lightgreen{
    display: inline-block;
    background-color:  #a2d09d;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;

}









